a{
  font-size: 25px;
}
a:link, a:visited{
  background-color: hotpink;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  background-color: red;
}
a:active{
  background-color: forestgreen;
}