html{
  height: 100%;
}

body{
background-image: url(https://images.unsplash.com/photo-1544654803-b69140b285a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
background-size: cover;
background-position: center;
font-family: 'Catamaran', sans-serif;
}

.center{
  text-align: center;
  padding-top: 10%;
}

#login{
  min-width: 250px;
  background-color: rgba(255,255,255,0.7);
  padding: 14px 14px 0;
  overflow: hidden;
}
#login .social-button{
  margin: 12px 0;
}
.btn-fb{
  color: #fff;
  background-color: #3b599d;
}
.btn-tw{
  color: #fff;
  background-color: #55acee;
}

@media (max-width: 768px){
  h1{
    background-color: #449d44;
    color: white;
  }
}